$borderRadius: 7px;

.achiv_switcher {
    width: 100%;
    background-color: #3f3f3f;
    display: flex;
    justify-content: space-around;
    border-radius: $borderRadius $borderRadius 0 0;
}

.achiv_switcher_in {
    background-color: unset !important;
}

.border_around_video {
    border-radius: 0 0 $borderRadius $borderRadius !important;
}
